/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.center-text {
  text-align: center;
}

.justify-between {
  justify-content: space-between;
  width: 100%;
}

.align-items-center {
  align-items: center;
}

.full-width {
  width: 100%;
}

ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

ion-list ion-card:last-child {
  margin-bottom: 60px;
}

ion-card {
  color: rgba(112, 96, 255, 0.7);

  ion-button {
    --background-activated: #7060ff67;
    --background: rgba(112, 96, 255);
  }
}

ion-card-title {
  color: rgba(112, 96, 255);
}

ion-title {
  color: white;
}

ion-card-subtitle {
  color: rgba(112, 96, 255, 0.8);
}

ion-item {
  color: rgba(112, 96, 255);
}
