.validation-errors {
  font-size: small;
  color: var(--ion-color-danger, #f1453d);
  padding-inline: 15px;
}

.px-15 {
  padding-inline: 15px;
}

ion-button {
  border-radius: 20px;
}

.margin-b {
  margin-bottom: 10px;
}
